* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 242, 218);
    padding-bottom: 3rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background-color: #333;
    text-align: center;
    color: #ffffff;
    position: sticky;
    top: 0;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navcon {
    display: flex;
    justify-content: space-between;
}

.home {
    list-style: none;
}

.menu {
    display: flex;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px 16px;
}

nav a:hover {
    background-color: #474747;
}

.imagee {
    padding: 1rem;
    width: auto;
    max-width: 100%;
    justify-content: space-around;
}

h2 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about,
.showcase,
.contact {
    text-align: center;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 18px;
    font-family: monospace;
    padding: 1rem;
}

.showcase .skill {
    width: 100%;
}

.contact {
    margin: 0 1rem;

    div {
        justify-content: space-around;
    }
}

.contact-img {
    width: 30px;
    height: auto;
    margin: 0 1rem;
}


.img-container {
    display: flex;
    margin: 0;
}



@media screen and (max-width: 600px) {
    .navcon {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        align-items: center;
        margin-top: auto;
    }
}